@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body,
button,
input,
select,
textarea {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
  padding-bottom: 2rem;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #d9f7e6;
  font-weight: 500;
  z-index: 1000;
}

.logo-img {
  max-height: 30px;
  width: auto;
}

.nav-link {
  color: #459096;
  padding: 0.5rem 1rem;
  transition: background-color 0.7s, color 0.7s;
  border-radius: 0.25rem;
  display: inline-block;
}

.nav-link:hover {
  background-color: #000000;
  color: white;
}

.main-content {
  text-align: center;
  max-width: 1200px;
  margin: 3rem auto;
  padding: 0 2rem;
}

.data-title {
  font-size: 4rem;
  color: #102a43;
  margin-bottom: 0.5rem;
  margin-top: 6.5rem;
  font-family: 'Pacifico', cursive;
  font-weight: 600;
}

.data-description {
  font-size: 1.5rem;
  color: #334e68;
  margin-bottom: 3rem;
}

.mode-button {
  background-color: #9dbf9e;
  color: white;
  border: none;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
  position: relative;
  overflow: hidden;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
  display: inline-block; 
  text-decoration: none;
}

.mode-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: #88a08e;
  transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s;
  z-index: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.mode-button:hover::before {
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}

.mode-button:hover {
  color: #336d4a;
  z-index: 1;
}

.mode-button span {
  position: relative;
  z-index: 2;
}

.analysis-method {
  border: 1px solid #c0c0c0;
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: #f0f4f8;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
  .modes-container {
    flex-direction: column;
  }

  .mode-button,
  .analysis-method {
    width: 100%;
    padding: 1rem;
  }
}

.footer {
  color: #e5e7eb;
  font-size: 0.875rem;
}

.footer-link {
  color: #e5e7eb;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.footer-link:hover {
  background-color: #3b4252;
  color: #ffffff;
}