@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body,
button,
input,
select,
textarea {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    width: 100%;
    position: fixed;
    background-color: #d9f7e6;
    font-weight: 500;
}

.logo-img {
    max-height: 30px;
    width: auto;
}

.nav-link {
    color: #459096;
    padding: 0.5rem 1rem;
    transition: background-color 0.7s, color 0.7s;
    border-radius: 0.25rem;
    display: inline-block;
}

.nav-link:hover {
    background-color: #000000;
    color: white;
}

.ourTeamContainer {
    max-width: 1280px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.titleContainer {
    margin-bottom: 12px;
}

.members-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 12px;
}

div.gallery {
    margin: 20px;
    width: 180px;
}
  
div.gallery img {
    width: 220px;
    height: 200px;
    border: #d9f7e6;
}

.desc {
    text-align: center;
}

.footer {
    color: #e5e7eb;
    font-size: 0.875rem;
}

.footer-link {
    color: #e5e7eb;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.footer-link:hover {
    background-color: #3b4252;
    color: #ffffff;
}